/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.3rem;
}

nav span {
    display: inline-block;
    margin: 3rem 5%;
    padding: 1.5rem 1.8rem;
    color: rgb(232, 237, 241);
    border-radius: .7rem;
    font-size: 1.2rem;
}
.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.party {
    background-color: #FFCD69;
}

.intro img {
    height: 18rem;
    width: 18rem;
    border-radius: 90%;
    position: relative;
    left: -25rem;
}

.intro h1, .intro p {
    position: relative;
    top: -10rem;
    right: -10rem;
    
}

.intro h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3.5rem;
    margin-top: -4.5rem;
}

.intro p{
    margin-top: 3rem;
}
.mainText {
    background-color: #DDB9A3;
    color: rgb(232, 237, 241);
    border: 1px lightgray;
    width: 80%;
    margin: -3rem 5% 3rem 10%;
    line-height: 1rem;
    letter-spacing: .2rem;
    padding: 1rem;
    border: 1px solid black;
}

.embolden {
    font-weight: bold;
}

.warnings img {
    height: 5%;
    width: 5%;
}

.warnings p {
    margin: 1rem 40% 5rem 40%;

}

footer {
    background-color: #F9E7DC;
    width: 100%;
}

footer img {
    width: 100vw;
    height: 20rem;
}

footer nav{
    margin-top: 3rem;
}
footer nav span {
    display: inline-block;
    margin: 0 5% 2rem 5%;
    padding: 1.5rem 1.8rem;
    color: rgb(232, 237, 241);
    border-radius: .7rem;
    font-size: 1.2rem;
}